#fh5co-features-1 .fh5co-lead, #fh5co-features-3 .fh5co-lead, #fh5co-features-4 .fh5co-lead {
    font-size: 34px;
    font-weight: 700;
    color: black;
}
#fh5co-features-2 .fh5co-lead, #fh5co-features-3 .fh5co-lead, #fh5co-features-4 .fh5co-lead {
    font-size: 35px;
    font-weight: 700;
    color: black;
}
.fh5co-cover .desc h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 700 !important;
}
.heading-section h3{
    font-weight: 700;
}
.normal-title{
    font-weight: 700;
}
.fh5co-testimonial blockquote p.t-title{
    font-weight: 700;
}
@media screen and (max-width: 1022px) {
    .fh5co-cover .desc h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .fh5co-cover .desc span{
        line-height: 40px;
        font-size: 20px;
    }
}


@media screen and (max-width: 375px) {
    .fh5co-cover .desc{
        top: 30%;
    }
    .fh5co-cover .desc h2{
        font-size: 37px;
        margin-bottom: 15px;
    }
    .fh5co-cover .desc span{
        line-height: 40px;
        font-size: 16px;
    }

}